# Configurações do Django
SECRET_KEY=sua-chave-secreta-de-desenvolvimento-aqui
DEBUG=True

# Credenciais para criação automática do Superusuário
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@exemplo.com
DJANGO_SUPERUSER_PASSWORD=admin123