# Arquivos de ambiente
.env
.env.*
!.env.example

# Banco de dados local (SQLite)
*.sqlite3
db.sqlite3

# Python / Ambientes Virtuais
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# IDEs e Editores
.vscode/
.idea/
.ds_store